# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.mac
*.pi
*.stg
/main
/autofan
/car
/cpumonitor
/gpstracker
/heartbeat
/memmonitor
/tempmonitor
/gps
/led
/relay
/stepmotor
/temperature
/distance

# Test binary, build with `go test -c`
# *.test
/tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log
