# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.mac
*.pi
*.stg
/main
/autofan
/car
/cpumonitor
/gpstracker
/heartbeat
/memmonitor
/tempmonitor
/gps
/led
/oled
/relay
/stepmotor
/temperature
/distance
/autolight
/homeasst
/air
/dht11
/autoair
/ip
/leddisplay
/ch2o
/ch2omonitor
/button
/doordog
/*.dev
/vmonitor
/rlight
/img-recognizer
/sserver

# Test binary, build with `go test -c`
# *.test
/tmp
.DS_store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log
